@include font("Gilroy", "gilroy/Gilroy-Black", "900", "normal");
@include font("Gilroy", "gilroy/Gilroy-Bold", "700", "normal");
@include font("Gilroy", "gilroy/Gilroy-ExtraBold", "800", "normal");
@include font("Gilroy", "gilroy/Gilroy-SemiBold", "600", "normal");
@include font("Gilroy", "gilroy/Gilroy-Medium", "500", "normal");
@include font("Gilroy", "gilroy/Gilroy-Regular", "400", "normal");
@include font("Gilroy", "gilroy/Gilroy-Light", "300", "normal");

@include font("Golos", "golos/Golos-Black", "900", "normal");
@include font("Golos", "golos/Golos-Bold", "700", "normal");
@include font("Golos", "golos/Golos-ExtraBold", "800", "normal");
@include font("Golos", "golos/Golos-SemiBold", "600", "normal");
@include font("Golos", "golos/Golos-Medium", "500", "normal");
@include font("Golos", "golos/Golos-Regular", "400", "normal");
