.about-parts-section {
  background: #1b1b1b;
  color: $white;
  padding: 64px 0;
}

.about-parts__list {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: column;
  gap: 32px 24px;
}

.about-parts-btn {
  margin-top: 32px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.about-parts-section__descr {
  margin-top: 12px;
}

.about-parts__item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.about-parts__icon {
  flex-shrink: 0;
  width: 48px;
  height: 48px;
  color: $red;
  border-radius: 100%;
  border: 1px solid $red;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .about-parts__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .about-parts__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 24px;
  }

  .about-parts__item {
    gap: 12px;
    align-items: flex-start;
  }

  .about-parts-btn {
    width: 100%;
  }
}
