.about-parts__tab {
  margin-top: 40px;
}

.about-parts__tab_head {
  display: flex;
  gap: 8px;
}

.about-parts-tab-button {
  line-height: 100%;
  border-radius: 8px;
  border: 1px solid #000;
  padding: 12px 20px;
  transition: all 0.2s ease-in-out;

  &:hover {
    background: $red;
    border: 1px solid $redHover;
    color: $white;
  }

  &.active {
    background: $red;
    border: 1px solid $redHover;
    color: $white;
  }
}

.tab-content {
  display: none;
  &.active {
    display: block;
  }
}

.about-parts__tab-content-wrap {
  margin-top: 24px;
}

.about-parts__tab_wrap {
  display: flex;
  gap: 16px;
  align-items: flex-start;
}

.about-parts__tab_left {
  max-width: 50%;
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.about-parts__tab_right {
  max-width: 50%;
  width: 100%;
}

.about-parts__tab_title {
  font-size: 22px;
  line-height: 120%;
  margin-top: 32px;
  &:first-child {
    margin-top: 0;
  }
}

.about-parts__tab_description {
  margin-top: 8px;
}

.about-parts__tab_cards {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-parts__tab_card {
  padding: 16px;
  border-radius: 8px;
  background: #fafafa;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.about-parts__tab_card_title {
  color: $red;
  font-size: 18px;
}

@media screen and (max-width: 1024px) {
  .about-parts__tab_wrap {
    flex-direction: column;
    gap: 32px;
  }

  .about-parts__tab_left {
    max-width: none;
  }

  .about-parts__tab-content-wrap {
    margin-top: 16px;
  }

  .about-parts-tab-button {
    font-size: 14px;
    border-radius: 4px;
    padding: 8px 20px;
  }

  .about-parts__tab_title {
    font-size: 18px;
    margin-top: 24px;
  }

  .about-parts__tab_card {
    padding: 12px;
    gap: 4px;
  }
  .about-parts__tab_card_text {
    font-size: 14px;
    line-height: 140%;
  }
}

@media screen and (max-width: 650px) {
  .about-parts__tab_head {
    flex-wrap: wrap;
    gap: 4px;
  }

  .about-parts__tab_wrap {
    gap: 16px;
  }
}
