.about-parts-section {
  background: #1b1b1b;
  color: $white;
  padding: 64px 0;
}

.about-parts-section__wrap {
  display: flex;
  align-items: center;
  gap: 64px;
}
.about-parts-section__left {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  width: 100%;
}

.about-parts-section__left_item {
  aspect-ratio: 1/1;
  background: #202020;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-parts__list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  li {
    background: #202020;
    color: #fff;
    padding: 12px 20px;
    border-left: 1px solid $red;
    border-radius: 8px;
  }
}

.about-parts-btn {
  margin-top: 32px;
  width: 50%;
}

.about-parts-section__descr {
  margin-top: 12px;
}

@media screen and (max-width: 1024px) {
  .about-parts-section__wrap {
    flex-direction: column;
  }

  .about-parts-section {
    padding: 32px 0;
  }

  .about-parts-section__left {
    display: none;
  }

  .about-parts-btn {
    width: 100%;
  }
}
