.about-section__top {
  margin-top: 32px;
}

.about-section__description {
  margin-top: 16px;
  max-width: 780px;
  width: 100%;
}

.about-section__info {
  margin-top: 40px;
}

.about-section__info_wrap {
  display: flex;
  align-items: center;
  gap: 48px;
}

.about-section__info_item {
  h4 {
    font-size: 22px;
    line-height: 120%;
    margin-bottom: 8px;
  }
}

.about-section__info_list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.about-section__info_image {
  max-width: 830px;
  width: 100%;
  flex-shrink: 0;
  img {
    width: 100%;
    display: block;
  }
}

@media screen and (max-width: 1440px) {
  .about-section__info_image {
    max-width: 60%;
    img {
      width: 100%;
      display: block;
    }
  }

  .about-section__info_wrap {
    gap: 32px;
  }
}

@media screen and (max-width: 1200px) {
  .about-section__info_wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .about-section__info_image {
    max-width: none;
  }

  .about-section__info_list {
    gap: 20px;
  }

  .about-section__info_item h4 {
    margin-bottom: 4px;
  }
}

@media screen and (max-width: 1024px) {
  .about-section__info {
    margin-top: 24px;
  }
}

@media screen and (max-width: 768px) {
}
