.gallery-section {
}

.gallery-section__wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  margin-top: 32px;
  a {
    aspect-ratio: 16/9;
    overflow: hidden;
    border-radius: 16px;
    display: inline-block;
  }
  img {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1024px) {
  .gallery-section__wrap {
    gap: 8px;
    margin-top: 16px;
  }
  .gallery-section__wrap a {
    border-radius: 8px;
  }
}

@media screen and (max-width: 768px) {
  .gallery-section__wrap {
    grid-template-columns: repeat(1, 1fr);
  }
}
