.index-hero-section.section {
  margin-top: 52px;
}

.index-hero-section__top {
  display: block;
}

.index-hero-section .h1-home {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  color: $text;
  font-size: 59px;
  line-height: 100%;
  text-align: left;
  text-transform: uppercase;

  br {
    display: none;
  }
}

.index-hero-section__descr {
  display: none;
}

.index-hero__banners {
  margin-top: 20px;
}

.index-hero__banners .swiper {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1488px) {
  .index-hero-section.section {
    margin-top: 52px;
  }

  .index-hero-section .h1-home {
    font-size: 59px;
    line-height: 100%;
  }

  .index-hero__banners {
    margin-top: 43px;
  }
}

@media screen and (max-width: 1024px) {
  .index-hero-section.section {
    margin-top: 52px;
  }

  .index-hero-section .h1-home {
    font-size: 56px;
  }

  .index-hero__banners {
    margin-top: 51px;
  }
}

@media screen and (max-width: 768px) {
  .index-hero-section.section {
    margin-top: 38px;
  }

  .index-hero-section .h1-home {
    font-size: 24px;
    text-align: left;
  }

  .index-hero__banners {
    margin-top: 18px;
  }
}