.index-hero-section.section {
  margin-top: 52px;
}

.index-hero-section__top {
  display: block;
}

.index-hero-section .h1-home {
  width: 100%;
  max-width: none;
  margin: 0 auto;
  color: $text;
  font-size: 59px;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.index-hero-section__descr {
  display: none;
}

.index-hero__banners {
  margin-top: 37px;
}

.index-hero__banners .swiper {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 1025px) and (max-width: 1488px) {
  .index-hero-section .container {
    width: calc(100% - 40px);
    max-width: 1200px;
  }

  .index-hero-section.section {
    margin-top: 52px;
  }

  .index-hero-section .h1-home {
    font-size: 59px;
    line-height: 120%;
  }

  .index-hero__banners {
    margin-top: 43px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .index-hero-section.section {
    margin-top: 52px;
  }

  .index-hero-section .h1-home {
    font-size: 56px;
    line-height: 120%;
  }

  .index-hero__banners {
    margin-top: 51px;
  }
}

@media screen and (max-width: 768px) {
  .index-hero-section.section {
    margin-top: 38px;
  }

  .index-hero-section .h1-home {
    font-size: 24px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.01em;
  }

  .index-hero__banners {
    margin-top: 18px;
  }
}
