.features-section {
  padding-top: 94px;
}

.features-items__wrap {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
}

.feature-item {
  padding: 16px 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  background: white;
  border-radius: 8px;
  // font-size: 18px;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.feature-item__icon {
  flex-shrink: 0;
  border-radius: 100%;
  border: 1px solid $black;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  svg {
    display: block;
  }
}

.index-hero__scheme {
  aspect-ratio: 2 / 1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media screen and (max-width: 1440px) {
  .features-items__wrap {
    gap: 8px;
  }

  .features-section {
    padding-top: 64px;
  }
}

@media screen and (max-width: 1300px) {
  .features-items__wrap {
    gap: 24px 16px;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .features-items__wrap {
    gap: 24px 16px;
    grid-template-columns: repeat(2, 1fr);
  }
  .feature-item {
    gap: 12px;
  }

  .feature-item__icon {
    width: 48px;
    height: 48px;
    img {
      width: 24px;
      height: 24px;
    }
  }

  .features-section {
    padding-top: 40px;
  }
}

@media screen and (max-width: 650px) {
  .features-items__wrap {
    grid-template-columns: repeat(1, 1fr);
    gap: 8px;
  }

  .feature-item {
    align-items: flex-start;
    padding: 12px;
  }
}
