.installing-section__top {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.installing-section__description {
  max-width: 50%;
  width: 100%;
}

.installing-wrap {
  margin-top: 32px;
  display: flex;
  gap: 16px;
  background: $black;
  border-radius: 16px;
  padding: 16px;
  color: $white;
}

// Item
.installing-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.installing-item__image {
  aspect-ratio: 4 / 5;
  border-radius: 8px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.installing-item__title {
  margin-top: 16px;
  font-size: 18px;
  line-height: 100%;
}

@media screen and (max-width: 1200px) {
  .installing-wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .installing-section__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .installing-section__description {
    max-width: none;
    margin-top: 8px;
  }

  .installing-wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .installing-section__top {
    flex-direction: column;
    align-items: flex-start;
  }

  .installing-section__description {
    max-width: none;
    margin-top: 8px;
  }

  .installing-wrap {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(1, 1fr);
  }
}
