.products-section {
  padding-top: 120px;
}

.products-section__top {
  display: flex;
  align-items: flex-end;
  gap: 16px;

  .h2 {
    max-width: 470px;
    width: 100%;
  }

  p {
    color: $grayDark;
  }
}

.products-wrap {
  margin-top: 60px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.product {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  padding: 0;
  overflow: hidden;
}

.product-image {
  width: 100%;
  height: auto;
  display: block;
  aspect-ratio: 5/3;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.product-info__item {
  display: flex;
  flex-direction: column;
}

.product-title {
  margin: 16px 16px 0;
  padding-bottom: 16px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  // min-height: 52px;
}

.product-info {
  // margin-top: 20px;
  padding: 16px;
}

.product-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-info__item_top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  line-height: 100%;
}

.product-info__item_title {
  color: $grayDark;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.product-info__item_value {
  font-weight: 500;
}

.product-btn {
  width: 100%;
  margin-top: 24px;
}

@media screen and (max-width: 1200px) {
  .product-title {
    font-size: 18px;
  }

  .product-info__item_title {
    font-size: 14px;
  }

  .product-info__item_value {
    font-size: 14px;
  }

  .product-list {
    gap: 12px;
  }

  .product-info__item_top {
    font-size: 14px;
    padding-bottom: 14px;
  }

  .products-wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .products-section__top {
    .h2 {
      max-width: 50%;
      flex-shrink: 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .products-wrap {
    grid-template-columns: 1fr;
  }
  .products-section__top {
    flex-direction: column;
    .h2 {
      max-width: none;
    }

    p {
      line-height: 140%;
    }
  }
}

@media screen and (max-width: 650px) {
  .products-section__top {
    p {
      font-size: 14px;
    }
  }
}
