.index-hero__banners {
  position: relative;
}

.index-hero__slide {
  img {
    display: block;
    width: 100%;
  }
}

.hero-banner-arrow-prev {
  left: -88px !important;
}
.hero-banner-arrow-next {
  right: -88px !important;
}

.index-hero__slide_wrap {
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .index-hero__slide {
    aspect-ratio: auto;
    border: none;
    border-radius: 8px;
  }

  .index-hero__slide_descr {
    max-width: none;
    display: none !important;
  }

  .index-hero__slide_wrap {
    gap: 16px;
    flex-direction: column;
  }
  .index-hero__slide_title {
    font-size: 20px;
  }

  .index-hero__slide-fx {
    display: none;
  }

  .index-hero__slide_info {
    align-items: flex-start;
    text-align: left;
  }

  .index-hero__slide_tag {
    display: block;
    position: relative;
    padding-left: 16px;
    background: none;
    left: 0 !important;
    top: 0 !important;
    margin-top: 8px;

    &:nth-of-type(1) {
      margin-top: 16px;
    }

    &::before {
      content: "";
      left: 0;
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 100%;
      background: $red;
      top: 8px;
    }

    p {
      border: none;
      background: none;

      padding: 0;
    }
    .dot {
      display: none;
    }
  }

  .index-hero__slide_prices {
    flex-direction: column-reverse;
    align-items: center;
    gap: 8px;
    display: none;
    &.--mob {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      gap: 16px;
      margin-left: auto;
      align-items: flex-end;
    }
  }

  .index-hero__slide_price {
    font-size: 18px;
  }

  .index-hero__slide_oldprice {
    font-size: 16px;
    font-weight: 500;
  }

  .index-hero__slide_btns {
    display: none;
    &.--mob {
      margin-top: 0;
      display: block;
      width: 100%;
    }
  }

  .index-hero__slide_btn {
    width: 100%;
    max-width: none;
  }
}
