.accordion {
  overflow: hidden;

  &__content {
    max-height: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all 0.25s ease-out;
  }

  &__active {
    .accordion__content {
      opacity: 1;
    }
  }
}
