.breadcrumbs-section {
  margin-top: 18px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;

  svg {
    display: block;
  }

  a {
    transition: color 0.2s ease-in-out;

    &:hover {
      color: $red;
    }
  }
}

@media screen and (max-width: 1200px) {
  .breadcrumbs-section {
    margin-top: 16px;
    padding-top: 0;
  }

  .breadcrumbs-section+* {
    margin-top: 19px !important;
  }
}

@media screen and (max-width: 768px) {
  .breadcrumbs-section {
    margin-top: 53px;
  }

  .breadcrumbs {
    flex-wrap: wrap;
    gap: 4px 8px;
    font-size: 14px;
    line-height: 1;
  }
}

main:has(.breadcrumbs-section) .car-single__hero-section {
  margin-top: 19px;
}

@media (max-width: 768px) {
  main:has(.breadcrumbs-section) .car-single__hero-section {
    margin-top: 19px;
  }
}