.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: $gradient-red;
  color: $white;
  transition: filter 0.2s ease-in-out, transform 0.2s ease-in-out;
  border-radius: 8px;
  min-height: 49px;
  padding: 12px 24px 13px;
  line-height: 100%;
  font-family: "Golos Text", "Golos", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;

  &:hover {
    filter: brightness(1.05);
  }

  &:active {
    transform: translateY(1px);
  }

  &.lg {
    padding: 18px 24px 18px 20px;
  }

  &.black {
    background: $gradient-dark;
    color: $white;

    &:hover {
      filter: brightness(1.08);
    }
  }
}

@media screen and (max-width: 768px) {
  .btn {
    min-height: 30px;
    padding: 9px 16px;
    border-radius: 6px;
    font-size: 12px;

    &.lg {
      padding: 12px 24px 13px;
    }
  }
}
