.btn {
  background: $red;
  color: $white;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  padding: 12px 24px;
  line-height: 1;

  &:hover {
    background: $redHover;
  }

  &.lg {
    padding: 16px 24px;
  }
}

@media screen and (max-width: 768px) {
  .btn {
    &.lg {
      padding: 14px 24px;
    }
  }
}
