.slider-arrow {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 1px solid #e1e1e1;
  background: #f9fbfa;
  transition: all 0.3s ease-in-out;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2 !important;

  svg {
    transition: all 0.3s ease-in-out;
  }

  &::after {
    display: none;
  }

  &:hover {
    background: $red;
    color: #fff;
    border: 1px solid $red;
  }

  svg {
    display: block;
    width: 24px;
    height: 24px;
    fill: none !important;
  }
}

.slider-arrow-prev {
}
.slider-arrow-next {
}

.swiper-pagination-bullet-active {
  background: $red;
}

.banners-pagination {
  display: none;
}
@media screen and (max-width: 1440px) {
  .slider-arrow {
    width: 56px;
    height: 56px;
  }

  .banners-pagination {
    bottom: -54px !important;
    display: block;
    font-weight: 500;
    font-family: "Golos", sans-serif;
    font-size: 18px;
  }
  .slider-arrow-next {
    right: 0 !important;
    top: auto !important;
    bottom: -70px;
  }

  .swiper-pagination-current {
    color: $red;
    font-size: 16px;
  }

  .slider-arrow-prev {
    left: 0px !important;
    top: auto !important;
    bottom: -70px;
  }
}

@media screen and (max-width: 768px) {
  .slider-arrow {
    width: 40px;
    height: 40px;
  }

  .slider-arrow svg {
    display: block;
    width: 16px;
    height: 20px;
    fill: none !important;
  }

  .banners-pagination {
    bottom: -42px !important;
  }

  .slider-arrow-next {
    bottom: -50px !important;
  }

  .slider-arrow-prev {
    bottom: -50px !important;
  }
}
