.slider-arrow {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1px solid rgba(56, 56, 56, 0.12);
  background: rgba(255, 255, 255, 0.95);
  transition: all 0.2s ease-in-out;
  color: $grayDark;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2 !important;
  top: 50%;

  svg {
    transition: all 0.3s ease-in-out;
  }

  &::after {
    display: none;
  }

  &:hover {
    background: $gradient-red;
    color: $white;
    border-color: transparent;
  }

  svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: none !important;
  }
}

.slider-arrow-prev {
}
.slider-arrow-next {
}

.swiper-pagination-bullet-active {
  background: $red;
}

.swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  opacity: 1;
  background: #d2d2d2;
}

.banners-pagination {
  display: none;
  z-index: 2;
}
@media screen and (max-width: 1440px) {
  .slider-arrow {
    width: 40px;
    height: 40px;
  }

  .banners-pagination {
    bottom: -54px !important;
    display: block;
    font-size: 0;
  }

  .slider-arrow-next {
    right: 0 !important;
    top: auto !important;
    bottom: -60px;
  }

  .slider-arrow-prev {
    left: 0px !important;
    top: auto !important;
    bottom: -60px;
  }
}

@media screen and (max-width: 768px) {
  .slider-arrow {
    width: 34px;
    height: 34px;
  }

  .slider-arrow svg {
    display: block;
    width: 14px;
    height: 14px;
    fill: none !important;
  }

  .banners-pagination {
    bottom: -42px !important;
  }

  .slider-arrow-next {
    bottom: -50px !important;
  }

  .slider-arrow-prev {
    bottom: -50px !important;
  }
}
