.h1 {
  font-size: 52px;
  font-weight: 900;
  line-height: 110%;

  span {
    color: $red;
  }
}

.h2 {
  font-size: 34px;
  font-weight: 700;
  line-height: 110%;
  span {
    color: $red;
  }
}

@media screen and (max-width: 1440px) {
  .h1 {
    // font-size: 44px;
    font-size: 36px;
  }
}

@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 38px;
  }

  .h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .h1 {
    br {
      display: none;
    }
    font-size: 28px;
  }
}
