.container {
    position: relative;
    max-width: 1480px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 15px;
    }
}
