@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-weight: #{$weight};
        font-family: $font_name;
        font-display: swap;
        font-style: #{$style};
        src: url('../fonts/#{$file_name}.woff2') format('woff2'),
            url('../fonts/#{$file_name}.woff') format('woff');
    }
}
