.catalog-page-section {
  margin-top: 60px;
}

.catalog-page-top {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &.--model {
    flex-direction: column;
    align-items: flex-start;

    .catalog-page-top__left {
      max-width: none;
    }

    .catalog-page__title {
      max-width: none;
    }
  }
}

.catalog-page-top__left {
  display: flex;
  flex-direction: column-reverse;
  gap: 8px;
  align-items: flex-start;
  width: 100%;

  p {
    flex-shrink: 0;
    margin-left: 0;
    border: 1px solid $red;
    border-radius: 12312px;
    padding: 6px 20px;
    font-weight: 500;
    line-height: 100%;
  }
}

.catalog-page-top__btn {
  margin-top: 20px;
}

.catalog-page__title {
  width: 100%;
}

.catalog-page__description {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: rgba($black, 0.8);
  align-items: flex-start;
  a {
    color: $red;
    text-decoration: underline;
  }
}

.catalog-concern__wrap {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 32px 16px;
}

.catalog-models {
  margin-top: 64px;
}

.catalog-models__wrap {
  margin-top: 32px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 16px;
}

.car-model-card {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 8px;
}

.car-model-card__image {
  width: 100%;
  aspect-ratio: 5/3;
  img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

.car-model-card__info {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  line-height: 100%;
  //   font-size: 14px;
  color: $grayDark;
}

.car-model-card__title {
  font-weight: 500;
  font-size: 18px;
  color: $black;
}

.car-generation-section {
  margin-top: 120px;
  padding: 0;
}

.car-generation__wrap {
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.car-generation {
  padding-bottom: 32px;
  display: flex;
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 5fr;
  border-bottom: 1px solid $gray;
}

.car-generation__info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.car-generation__frame {
  color: $grayDark;
}

.car-generation__years {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
}

.car-generation__models {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}

.car-generation__model {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &:hover {
    .car-generation__model_title {
      color: $red;
    }
  }
}

.car-generation__model_image {
  aspect-ratio: 5/3;
  border-radius: 6px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.car-generation__model_title {
  transition: all 0.2s ease-in-out;
  font-size: 16px;
  line-height: 100%;
}

.product-parts-section {
  margin-top: 60px;
}

.product-page-top {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-page__title.h1 {
  font-size: 40px;
}

.product-page__description {
  max-width: 830px;
  width: 100%;
  color: $grayDark;
}

.product-parts-section__wrap {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: flex-start;
  gap: 16px;
}

.product-parts__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.product-parts__total {
  position: sticky;
  top: 80px;
  border-radius: 8px;
  padding: 32px 32px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.product-parts__total_title {
  font-size: 20px;
}

.product-parts__total_btn {
  margin-top: 20px;
}

.total-form {
  margin-top: 32px;
}

.total-form__car {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
}

.total-form__part_price {
  flex-shrink: 0;
}
.total-form__car_value {
  font-weight: 600;
}

.total-form__parts {
  margin-top: 32px;
  display: flex;
  gap: 12px;
  flex-direction: column;
}

.product-parts__total_head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-parts__total_clear {
  color: $red;
  font-weight: 500;
}

.total-form__part {
  padding-bottom: 12px;
  display: flex;
  gap: 16px;
  border-bottom: 1px solid #e6e6e6;
}

.total-form__empty {
  color: $red;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

.total-form__part_title {
  font-weight: 600;
  line-height: 120%;
  flex-grow: 1;
}

.total-form__part_remove {
  cursor: pointer;
}

.total-form__total {
  display: flex;
  align-items: center;
  margin-top: 32px;
  justify-content: space-between;
}

.total-form__total_value {
  font-weight: 700;
  font-size: 20px;
}

.product-part {
  display: flex;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
  background: $white;
  gap: 16px;
  overflow: hidden;
  border-radius: 8px;
  align-items: flex-start;
}

.product-part__image {
  aspect-ratio: 1/1;
  max-width: 228px;
  width: 100%;
  flex-shrink: 0;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
}

.product-part__info {
  padding: 16px 16px 16px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.product-part__title {
  font-size: 20px;
  line-height: 110%;
}

.product-part__info_wrap {
  margin-top: 24px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px 16px;
}

.product-part__info_item_title {
  —Åolor: #585858;
}

.product-part__info_item_value {
  font-weight: 600;
}

.product-part__info_item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid #e6e6e6;
}

.product-part__bottom {
  margin-top: 16px;
  display: flex;
  align-items: flex-end;
  align-items: center;
  gap: 16px;
}

.product-part__price {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  flex-grow: 1;
}

.product-part__price-price {
  font-weight: 400;
}

.product-part__price_num {
  font-weight: 700;
  font-size: 18px;

  &.--old {
    position: absolute;
    right: 0;
    bottom: 20px;
    font-size: 16px;
    color: $red;
    &:before {
      content: "";
      position: absolute;
      height: 2px;
      transform: rotate(-2deg);
      width: 100%;
      background: #000;
      top: 10px;
    }
  }
}

.cart-form {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

@media screen and (max-width: 1200px) {
  .product-part__info_wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-part__bottom {
    .btn {
      font-size: 14px;
      border-radius: 4px;
      padding: 8px 16px;
    }
  }

  .product-part__image {
    max-width: 100px;
    border-radius: 8px;
    overflow: hidden;
  }

  .product-part__title {
    font-size: 16px;
  }
  .product-part__price_num {
    font-size: 16px;
  }

  .product-parts__total {
    padding: 16px;
    // top: auto;
    // bottom: 16px;
    background: #fff;
  }

  .product-parts__total_title {
    font-size: 18px;
  }

  .total-form {
    margin-top: 16px;
  }

  .total-form__empty {
    font-size: 16px;
  }

  .total-form__parts {
    // margin-top: 16px;
  }

  .product-parts-section__wrap {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-part__info_wrap {
    gap: 8px;
    margin-top: 16px;
  }

  .product-part__price-price {
    display: none;
  }

  .cart-form {
    margin-top: 16px;
  }

  .product-part__info_item {
    font-size: 14px;
    line-height: 100%;
  }

  .total-form__part {
    font-size: 14px;
    line-height: 100%;
  }

  .index-hero-form {
    margin-top: 16px;
  }
  .catalog-page-top__left {
    flex-direction: column;
  }
  .catalog-page-top__left p {
    font-size: 14px;
    display: none;
    padding: 4px 12px;
  }
  .catalog-models__wrap {
    margin-top: 60px;
    grid-template-columns: repeat(4, 1fr);
  }

  .catalog-page-section {
    margin-top: 40px;
  }

  .catalog-page-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .car-generation__models {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1024px) {
  .product-parts-section {
    margin-top: 40px;
  }
  .catalog-concern__wrap {
    grid-template-columns: repeat(4, 1fr);
  }

  .car-generation {
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
  }

  .car-generation__wrap {
    gap: 40px;
  }

  .product-part__bottom {
    flex-shrink: 0;
    margin-left: auto;
  }

  .product-part__image {
    width: 80px;
  }

  .product-part__title {
    font-size: 18px;
  }
  .product-parts__total_title {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px) {
  .catalog-concern__wrap {
    margin-top: 16px;
    gap: 16px 8px;
  }

  .catalog-page-top__btn {
    width: 100%;
  }
  .product-parts__total {
    padding: 16px;
  }
  .catalog-models__wrap {
    margin-top: 16px;
    gap: 8px;
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog-page__description {
    font-size: 14px;
    line-height: 130%;
  }
  .catalog-page-section {
    margin-top: 24px;
  }
  .catalog-page-top {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .car-generation__model {
    gap: 8px;
  }

  .car-generation-section {
    margin-top: 60px;
  }

  .car-generation__models {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .product-page-top {
    gap: 8px;
  }

  .product-page__description {
    font-size: 14px;
    line-height: 130%;
  }

  .product-part__title {
    font-size: 18px;
  }

  .product-part__info_item {
    font-size: 14px;
    line-height: 100%;
  }
}

@media screen and (max-width: 550px) {
  .product-part__bottom {
    flex-direction: column;
    gap: 7px;
    align-items: flex-end;
  }
  .product-page__title.h1 {
    font-size: 28px;
  }
  .catalog-concern__wrap {
    grid-template-columns: repeat(2, 1fr);
  }
}
