.choices {
  font-size: inherit !important;
}
.choices__inner {
  display: inline-block;
  vertical-align: top;
  background: transparent;
  padding: 0;
  border: none;
  border-radius: 0;
  font-size: inherit !important;
  min-height: auto;
  overflow: hidden;
}

.choices__list--single {
  display: block;
  padding: 0 20px 0 0;
  width: 100%;
  font-size: inherit;
}

.choices__list--single .choices__item {
  font-size: inherit;
}
.choices:after {
  transition: all 0.2s ease-in-out;
}

.choices[data-type*="select-one"]::after {
  content: url("data:image/svg+xml; utf8, <svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='lucide lucide-chevron-down'><path d='m6 9 6 6 6-6'/></svg>");

  height: 18px;
  width: 18px;
  border-style: none;
  border-color: none;
  border-width: 0;
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 0;
  pointer-events: auto;
}

.choices[data-type*="select-one"].is-open::after {
  margin-top: 0;
  transform: rotate(180deg);
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  background: #fff;
}

.is-open .choices__list--dropdown,
.is-open .choices__list[aria-expanded] {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  font-size: inherit;
  padding: 8px 8px;
  transition: all 0.2s ease-in-out;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background: #b00a0a;
  color: #fff;
}

.choices {
  flex-shrink: 0;
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 0;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  word-break: break-word;
  width: max-content;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .choices {
    font-size: 14px;
  }

  .choices__list--single .choices__item {
    font-size: 14px;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    font-size: 14px;
  }
}
