.footer {
  color: #fff;
  padding-top: 32px;
  background: #1b1b1b;
}

.footer-top {
  padding-bottom: 32px;
  border-bottom: 1px solid #323232;
}

.footer-top__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-top__right {
  display: flex;
  align-items: center;
  gap: 40px;
}

.footer-bottom__descr {
  &.--mob {
    display: none;
  }
}

.footer-socials {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-social {
  border-radius: 100%;
  background: #fff;
  width: 40px;
  height: 40px;
}

.footer-copy {
  background: #000;
  font-size: 14px;
  padding: 8px 0;
}

.footer-copy__wrap {
  display: flex;
  justify-content: space-between;
}

.footer-bottom__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom__nav {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 16px;
}

.footer-right {
  color: $white;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: $black;
    z-index: -1;
    top: 0;
    right: -100%;
  }
}

.footer__nav {
  margin-top: 40px;
}

.footer__nav-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
}

.footer__nav-list {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 16px;
}

.footer__nav-link {
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $red;
  }
}

.footer-phone {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;

  svg {
    display: block;
    transition: stroke 0.2s ease-in-out;
  }

  &:hover {
    color: $red;

    svg {
      stroke: $red;
    }
  }
}

.footer-bottom {
  padding: 24px 0;
  font-size: 14px;
  line-height: 100%;

  a {
    display: block;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $red;
    }
  }
}

.footer-bottom__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom__policies {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-bottom__bottom {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}

.footer-bottom__credits {
  color: $grayDark;
}

.footer-form__title {
  text-transform: uppercase;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
}

.footer-form {
  margin-top: 32px;
  max-width: 348px;
  width: 100%;
  position: relative;
}

.footer-form-btn {
  position: absolute;
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.footer-copyright {
  margin-top: 12px;
  color: $gray;
}

.footer-form-input {
  color: $white;
  padding: 16px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid $gray;
  width: 100%;
}

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1024px) {
  .footer-top__wrap {
    flex-direction: column;
    gap: 20px;
  }

  .header__phone {
    &.--footer {
      margin-top: 16px;
      align-items: center;
      gap: 8px;
    }
  }
  .footer-top__left {
    flex-direction: column;
    display: flex;
    align-items: center;
    gap: 8px;
  }
  .footer-bottom__descr {
    display: none;
    &.--mob {
      display: block;
      text-align: center;
    }
  }

  .footer-top__right {
    flex-direction: column;
    gap: 16px;
  }

  .footer-bottom__wrap {
    flex-direction: column;
    gap: 24px;
  }

  .footer-bottom__nav {
    flex-direction: column;
  }

  .footer-copy__wrap {
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .footer-copy {
    text-align: center;
    padding: 16px 0;
  }
}

@media screen and (max-width: 900px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 550px) {
}
