.footer {
  // margin-top: 240px;
}

.footer__wrap {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.footer-left {
  //   padding-top: 64px;
}

.footer-right {
  color: $white;
  padding: 80px 0 80px 150px;
  background: $black;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: $black;
    z-index: -1;
    top: 0;
    right: -100%;
  }
}

.footer__nav {
  margin-top: 40px;
}

.footer__nav-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%;
}

.footer__nav-list {
  margin-top: 12px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 16px;
}

.footer__nav-link {
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $red;
  }
}

.footer-socials {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}

.footer-phone {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;

  svg {
    display: block;
    transition: stroke 0.2s ease-in-out;
  }

  &:hover {
    color: $red;

    svg {
      stroke: $red;
    }
  }
}

.footer-bottom {
  padding: 24px 0;
  font-size: 14px;
  line-height: 100%;

  a {
    display: block;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: $red;
    }
  }
}

.footer-bottom__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-bottom__policies {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-bottom__bottom {
  display: flex;
  margin-top: 12px;
  justify-content: space-between;
}

.footer-bottom__credits {
  color: $grayDark;
}

.footer-form__title {
  text-transform: uppercase;
  font-size: 32px;
  font-style: normal;
  font-weight: 900;
  line-height: 110%;
}

.footer-form {
  margin-top: 32px;
  max-width: 348px;
  width: 100%;
  position: relative;
}

.footer-form-btn {
  position: absolute;
  top: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.footer-copyright {
  margin-top: 12px;
  color: $gray;
}

.footer-form-input {
  color: $white;
  padding: 16px 0;
  background: transparent;
  border: none;
  border-bottom: 1px solid $gray;
  width: 100%;
}

@media screen and (max-width: 1440px) {
  .footer-form__title {
    font-size: 24px;
  }

  .footer-right {
    padding: 48px 64px;
  }

  .footer-form-input {
    padding: 12px 0;
  }
  .footer-copyright {
    font-weight: 300;
  }

  .footer__nav {
    margin-top: 32px;
  }

  .footer-form {
    margin-top: 20px;
  }

  .footer-form-btn {
    width: 18px;
    height: 18px;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }

  .footer__nav-list {
    max-width: 80%;
  }
}

@media screen and (max-width: 1024px) {
  .footer__nav-list {
    max-width: none;
  }
}

@media screen and (max-width: 900px) {
  .footer__wrap {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .footer-right {
    width: 100%;
    padding: 56px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    &:before {
      left: -20px;
      width: 200%;
    }
  }

  .footer-left {
    width: 100%;
    margin-top: 32px;
  }
}

@media screen and (max-width: 768px) {
  .footer-socials {
    justify-content: center;
  }
  .footer__nav-title {
    font-size: 16px;
  }

  .footer-right {
    padding: 40px 0;
  }

  .footer-bottom__top {
    flex-direction: column;
    gap: 16px;
  }

  .footer-bottom__bottom {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  .footer-bottom__policies {
    flex-direction: column;
  }

  .footer-bottom__credits {
    text-align: center;
  }
}

@media screen and (max-width: 550px) {
  .footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  .footer__nav-list {
    grid-template-columns: 1fr;
  }

  .footer__nav-title {
    text-align: center;
  }

  .footer__nav-link {
    text-align: center;
  }

  .footer-right {
    align-items: center;
    text-align: center;
  }
}
