.header {
  padding: 10px 0;
  background: $black;
  color: $white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 20;
}

.mobile-nav {
  display: none;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  img {
    display: block;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: 56px;
}

.header__btns {
  margin-left: auto;
  display: flex;

  align-items: center;
  gap: 16px;
  a {
    display: block;
    svg {
      display: block;
    }
    img {
      display: block;
    }
  }
}

.header__phone {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  gap: 4px;
  font-weight: 500;

  a {
    font-style: normal;
    font-weight: 900;
    line-height: 100%;
  }
  span {
    display: block;
    font-size: 12px;
    line-height: 100%;
    font-weight: 300;
    color: $gray;
  }
}

.header__link {
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $red;
  }
}

.burger {
  display: none;
}

@media screen and (max-width: 1440px) {
  .mobile-nav {
    display: block;
    position: fixed;
    z-index: 10;
    color: $white;
    height: 100vh;
    top: 0;
    right: -380px;
    background: $black;
    max-width: 380px;
    width: 100%;
    transition: all 0.3s ease-in-out;

    &.active {
      right: 0;
    }
  }

  .mobile-nav__wrap {
    padding: 100px 16px 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .mobile-nav__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    font-weight: 500;
  }

  .mobile-nav__bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }

  .burger {
    width: 22px;
    height: 22px;
    display: block;
    position: relative;
    flex-shrink: 0;

    span {
      position: absolute;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background: $white;
      pointer-events: none;
      border-radius: 2px;
      left: 0;
      transition: all 0.2s ease-in-out;

      &:nth-child(1) {
        top: 3px;
      }
      &:nth-child(2) {
        top: 10px;
      }
      &:nth-child(3) {
        bottom: 3px;
      }
    }

    &.active {
      span {
        &:nth-child(1) {
          top: 10px;
          transform: rotate(225deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:nth-child(3) {
          bottom: 10px;
          transform: rotate(-225deg);
        }
      }
    }
  }

  .header__nav {
    position: absolute;
    // transform: translateY(-100%);
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .header-consultation-btn {
    display: none;
  }

  .header__phone {
    gap: 2px;
  }
}

@media screen and (max-width: 550px) {
  .social-link {
    display: none !important;
  }

  .header__phone {
    display: none;
  }

  .header__logo {
    img {
      height: 24px;
    }
  }
}
