.header {
  padding: 16px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background: $white;
  z-index: 20;
}

.mobile-nav {
  display: none;
}

.header__wrap {
  display: flex;
  align-items: center;
}

.header__logo {
  display: block;
  img {
    display: block;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__btns {
  margin-left: auto;
  display: flex;

  align-items: center;
  gap: 24px;
  a {
    display: block;
    svg {
      display: block;
    }
    img {
      display: block;
    }
  }
}

.header-div {
  width: 1px;
  height: 16px;
  background: $stroke;
}

.header__phone {
  display: flex;
  flex-direction: column;
  gap: 4px;

  a {
    font-style: normal;
    line-height: 100%;
    font-size: 18px;
  }
  span {
    display: block;
    font-size: 14px;
    line-height: 100%;
    font-weight: 300;
  }
}

.header__phone_top {
  display: flex;
  align-items: center;
  gap: 8px;
}

.header__link {
  transition: color 0.2s ease-in-out;
  &:hover {
    color: $red;
  }
}

.burger {
  display: none;
}

.mobile-nav__bottom {
  display: none;
}
@media screen and (max-width: 1440px) {
  @media screen and (max-width: 1200px) {
    .header-consultation-btn {
      display: none;
    }

    .header__phone {
      gap: 2px;
    }

    .mobile-nav {
      display: block;
      position: fixed;
      z-index: 10;
      color: $white;
      height: 100vh;
      top: 0;
      right: -380px;
      background: $black;
      max-width: 380px;
      width: 100%;
      transition: all 0.3s ease-in-out;

      &.active {
        right: 0;
      }
    }

    .mobile-nav__wrap {
      padding: 100px 16px 32px;
      height: 100%;
      display: flex;
      flex-direction: column;
    }

    .mobile-nav__nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      font-weight: 500;
    }

    .burger {
      width: 22px;
      height: 22px;
      display: block;
      position: relative;
      flex-shrink: 0;

      span {
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 2px;
        background: $black;
        pointer-events: none;
        border-radius: 2px;
        left: 0;
        transition: all 0.2s ease-in-out;

        &:nth-child(1) {
          top: 3px;
        }
        &:nth-child(2) {
          top: 10px;
        }
        &:nth-child(3) {
          bottom: 3px;
        }
      }

      &.active {
        span {
          &:nth-child(1) {
            top: 10px;
            transform: rotate(225deg);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            bottom: 10px;
            transform: rotate(-225deg);
          }
        }
      }
    }

    .header__nav {
      position: absolute;
      // transform: translateY(-100%);
      display: none;
    }
  }

  .header-div {
    display: none;
  }

  .header__phone_top {
    svg {
      display: none;
    }

    a {
      font-weight: 700;
    }
  }
}

@media screen and (max-width: 550px) {
  .social-link {
    display: none !important;
  }

  .header__logo {
    img {
      height: 24px;
    }
  }

  .header__left {
    display: none;
  }

  .header__btns {
    justify-content: space-between;
    width: 100%;
  }

  .mobile-nav {
    max-width: 290px;
  }

  .mobile-nav__wrap {
    padding: 80px 16px 32px;
  }

  .mobile-nav__bottom-contacts {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-nav__nav {
    gap: 12px;
  }

  .mobile-nav__bottom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header-consultation-btn {
      display: block;
      border-radius: 8px;
    }

    .mobile-nav__bottom-socials {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-left: auto;
    }
    .header__phone {
      display: block;
    }

    .social-link {
      display: block !important;
    }
  }
}
