.index-hero__banners {
  position: relative;
}

.index-hero__slide {
  width: 100%;
  height: 481px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background: #d2d2d2;
  cursor: pointer;
}

.index-hero__slide_wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.index-hero__slide_image {
  width: 100%;
  height: 100%;
}

.index-hero__slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}

.hero-banner-arrow-prev,
.hero-banner-arrow-next {
  display: none !important;
}

.hero-pag {
  position: static;
  margin-top: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;
}

.index-hero__banners .banners-pagination {
  display: block !important;
}

.index-hero__banners .hero-pag .swiper-pagination-bullet {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #a7a7a7;
  opacity: 1;
  margin: 0 2.5px !important;
  transition: background-color 0.2s ease-in-out;
}

.index-hero__banners .hero-pag .swiper-pagination-bullet-active {
  background: #e51026;
}

@media screen and (min-width: 1025px) and (max-width: 1488px) {
  .index-hero__slide {
    height: 481px;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .index-hero__slide {
    height: 495px;
  }

  .hero-pag {
    margin-top: 14px;
  }

  .index-hero__banners .hero-pag .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    margin: 0 2.5px !important;
  }
}

@media screen and (max-width: 768px) {
  .index-hero__slide {
    height: 363px;
    border-radius: 12px;
    box-shadow: none;
  }

  .hero-pag {
    margin-top: 16px;
  }
}
