/**************************\
  Basic Modal Styles
\**************************/

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.modal__container {
  background-color: #fff;
  padding: 48px 48px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 16px;
  overflow-y: auto;
  box-sizing: border-box;

  .copyright {
    text-align: center;
  }
}

.modal-form {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form-product {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 24px;
}
.modal__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}

.modal__description {
  text-align: center;
  margin-top: 8px;
}

.modal__close {
  background: transparent;
  border: 0;
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal__header .modal__close:before {
  content: "\2715";
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal-success {
  .modal__title {
    text-align: center;
    line-height: 120%;
  }

  .modal__description {
    margin-top: 24px;
    text-align: center;
  }
}

@keyframes mmfadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes mmfadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes mmslideIn {
  from {
    transform: translateY(15%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes mmslideOut {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10%);
  }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut 0.3s cubic-bezier(0, 0, 0.2, 1);
}

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}

@media screen and (max-width: 1024px) {
  .modal__container {
    padding: 24px;
  }

  .modal__title {
    font-size: 24px;
  }

  .modal__description {
    margin-top: 8px;
    font-size: 16px;
    line-height: 120%;
  }

  .modal__close {
    top: 20px;
    right: 24px;
  }
  .modal-form {
    margin-top: 24px;
  }
}

@media screen and (max-width: 768px) {
  .modal__container {
    padding: 32px 16px 24px 16px;
    max-width: 290px;
  }

  .modal__title {
    font-size: 20px;
  }

  .modal__description {
    margin-top: 8px;
    font-size: 14px;
    line-height: 120%;
    br {
      display: none;
    }
  }

  .modal__close {
    top: 16px;
    right: 16px;
  }
}
