.h1 {
  font-size: 64px;
  font-weight: 800;
  line-height: 100%;
  font-family: "Gilroy", sans-serif;

  span {
    color: $red;
  }
}

.h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 110%;
  font-family: "Gilroy", sans-serif;

  span {
    color: $red;
  }
}

@media screen and (max-width: 1440px) {
  .h1 {
    // font-size: 44px;
    font-size: 36px;
  }
}

@media screen and (max-width: 1024px) {
  .h1 {
    font-size: 38px;
  }

  .h2 {
    font-size: 28px;
  }
}

@media screen and (max-width: 768px) {
  .h1 {
    font-size: 28px;
  }
  .h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 550px) {
  .h1 {
    br {
      display: none;
    }
    // font-size: 32px;вернул
  }
}
