@import 'normalize.css/normalize';
// @import '../../../node_modules/swiper/swiper-bundle.css';
// @import 'swiper/swiper-bundle';

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
  font-size: 16px;
  height: 100%;
  line-height: 140%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  color: $text;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  display: inline-block;
  border: none;
  padding: 0;
  background: transparent;
}

.uppercase {
  text-transform: uppercase;
}

.section {
  margin-top: 200px;
}

.slider-arrow {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 8px;

  .swiper-button-next,
  .swiper-button-prev {
    background: $white;
    border-radius: 100%;
    overflow: hidden;
    width: 44px;
    height: 44px;
    position: static;
    margin-top: 0;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.05);
    &:after {
      display: none;
    }
  }
}

@media screen and (max-width: 1440px) {
  .section {
    margin-top: 140px;
  }
}

@media screen and (max-width: 1200px) {
  .section {
    margin-top: 100px;
  }
}

@media screen and (max-width: 768px) {
  .section {
    margin-top: 80px;
  }
}
