// Colors
$red: #e20d0d;
$redHover: #b00a0a;
$yellow: #f2c014;
$text: #1b1b1b;
$white: #fff;
$black: #1e1e1e;
$gray: #c1c1c1;
$grayDark: #585858;
$grayLight: #e6e6e6;

$shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
